.appartments{
    position: relative;
}


.appartments__title{
    margin-bottom: 88px;
}

.appartments__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    



    &::before{
        content: "III";
        opacity: 0.02;


        font-size: 400px;
        font-family: $font-accent;
        position: absolute;
        top: 0;
        left: 179px;
        line-height: 1;
    }





    @include mediaTablet{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        row-gap: 30px;
    }
}