.video{
    text-align: center;
    position: relative;

    &:after{
        content: "IV";
        opacity: 0.02;


        font-size: 400px;
        font-family: $font-accent;
        position: absolute;
        top: 20px;
        left: calc(50% + 555px);
        transform: translate(-50%, 0%);
        align-items: center;
    }
}


.video__link{
    position: relative;
    display: inline-block;


    &::before{
        content: "";

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 43, 51, 0.8);
        transition: 0.2s ease-in;
    }

    &:hover::before{
        background: rgba(36, 43, 51, 0.7);
    }

}


.video__icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    &:hover{
        transform: translate(-50%, -50%) scale(1.05);
    }
}